/* ----------------------------------------
    STYLING
---------------------------------------- */
.displace,.screen-reader-text {
    display:none
}

/* ------ SECTIONS ------ */
.gp-section-title {
    font-size:3.5em;
    text-align:center;
    overflow:hidden;
    color:#444;
    span {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0 20px;
        &:before, &:after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 50%;
            border-top: 1px solid #333;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }        
    }    
}
.gp-section-subtitle {
    font-family:"Oswald";
    text-transform:uppercase;
    font-size:2em;
    text-align:center;
    margin-top:-10px;
    margin-bottom:15px;
    color:#999;
}


/* ------ LISTINGS ------ */
.gp-listing-section {
    margin-bottom:50px;
}
.page-content ul.gp-listing,.post-content ul.gp-listing {
    margin:20px 0;
    padding:0;
    list-style-type:none;
    li {
        padding:0;
        background:none
    }
}
ul.gp-listing-posts {
    margin:20px 0;
    .gp-listing-image {
        display:table;
        width:100%;
        height:170px;
        @include background-size(cover);
        background-position:center;
        background-color:$default-color;
        position:relative;
        margin-bottom:15px;
        &:before {
            display:block;
            //background:$default-color;
            background:#000;
            position:absolute;
            content:"";
            top:0;
            left:0;
            right:0;
            bottom:0;
            opacity:0.8;
            z-index:3;
            @include transition(all, 0.5s, ease);
        }
        .gp-listing-title {
            font-family:"Oswald";
            font-size:1.7em;
            line-height:110%;
            color:$flat-sunflower;
            text-align:center;
            text-transform:uppercase;
            display:table-cell;
            vertical-align:middle; 
            position:relative;
            z-index:4;
            padding:0 15px;
            @include transition(all, 0.5s, ease);
        }
        .gp-listing-icon {
            display:block;
            margin-top:10px;
            font-size:1.7em;            
            opacity:0.6;    
            position:relative;
            z-index:4;  
            zoom:1;
            color:#fff;
            @include transition(all, 0.15s, ease);
        }
        &:hover {
            &:before {
                opacity:0.2;
            }
            .gp-listing-title {
                color:#fff;
            }            
            .gp-listing-icon {
                opacity:0.8;
                font-size:2em;
            }
        }
    }
    &.circled {        
        .gp-listing-image {
            width:200px;
            height:200px;
            @include border-radius(100%);
            margin-bottom:20px;
            border:10px solid #fff;
            box-shadow:0px 0px 11px -5px #000;
            &:before {
                @include border-radius(100%);
            } 
        }         
    }
    .gp-listing-text {
        text-align:center;
        padding:15px 10px;        
        margin:0;
        .gp-listing-date {
            display:block;
            font-family:"Oswald";
            text-transform:uppercase;
            color:#aeaeae; 
            margin-bottom:5px;
        }
        .gp-listing-content {
            font-size:1.3em;
            margin-top:0;
            min-height:126px;
            line-height:120%;
        }
    }
}

/* ----- QUOTES ----- */
blockquote {
    background:#F6F6F6;
    border-left:4px solid #CCC;
    box-sizing:border-box;
    margin-top:20px;
    padding:20px
}

#blog-grid blockquote {
    margin:0
}

blockquote p:first-child {
    margin-top:0
}

#blog-grid cite {
    display:block;
    text-align:right
}

h1 cite {
    float:none
}

abbr {
    border-bottom:1px dotted #444;
    color:#444;
    cursor:pointer
}

small {
    font-size:.833em
}

pre {
    background-color:#F6F6F6;
    font-size:12px;
    margin:20px 0;
    padding:10px;
    white-space:pre-wrap;
/* css-3 */
    white-space:-moz-pre-wrap;
/* Mozilla, since 1999 */
    white-space:-pre-wrap;
/* Opera 4-6 */
    white-space:-o-pre-wrap;
/* Opera 7 */
    word-wrap:break-word
/* Internet Explorer 5.5+ */
}

code {
    font-size:1em
}

/* ----- LISTS ----- */
.page-content ul,.post-content ul {
    margin:20px 0 0
}

.page-content ul li,.post-content ul li {
    background:url(images/li.png) 0 6px no-repeat;
    padding:10px 0 0 22px;
    font-size:1.4em;
}

.page-content li ul,.post-content li ul {
    margin:0
}

.page-content ul ol li,.post-content ul ol li {
    background:none
}

.page-content ol,.post-content ol {
    margin:20px 0 0 16px;
    padding-left:20px
}

.page-content ol li,.post-content ol li {
    list-style-type:decimal;
    padding:10px 0 0 3px
}

.page-content li ol,.post-content li ol {
    margin:0
}

.page-content ol ul li,.post-content ol ul li {
    background:url(images/li.png) 0 6px no-repeat;
    list-style-type:none;
    margin:0 0 0 -2px;
    padding:10px 0 0 22px
}

/* ----- TABLES ----- */
.page-content table {
    background-color:#F9F9F9;
    border:4px solid #DDD;
    border-collapse:collapse;
    color:#555;
    margin:20px 0 0;
    width:100%;
    word-wrap:break-word
}

.page-content th {
    background-color:#F0F0F0;
    padding:10px 0
}

.page-content tr:nth-of-type(odd) {
    background-color:#F0F0F0
}

.page-content td {
    border-top:1px solid #DDD;
    border-left:1px solid #DDD;
    padding:5px
}

/* ----- IMAGES ----- */
#wrapper img {
    height:auto;
    max-width:100%
}

.aligncenter {
    display:block;
    margin:20px auto
}

.alignleft {
    float:left;
    margin:0 20px 10px 0
}

.alignright {
    float:right;
    margin:0 0 10px 20px
}

.wp-caption {
    margin-top:18px
}

img.alignleft,img.alignright,img.aligncenter,.wp-caption img {
    background-color:#F6F6F6;
    padding:5px
}

/* Images */
.page-content img {
    height:auto;
    max-width:100%
/* Fluid images for posts, comments, and widgets */
}

img[class*="align"],img[class*="wp-image-"] {
    height:auto
/* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full {
    max-width:726px;
    width:auto
/* Prevent stretching of full-size images with height and width attributes in IE8 */
}

/* ==================================================
   GALLERY SHORTCODE
   ================================================== */
.gallery {
    margin:40px 0;
    overflow:hidden
}

.gallery .gallery-item {
    float:left;
    overflow:hidden;
    position:relative
}

.gallery img {
    display:block;
    height:auto;
    max-width:100%
}

.gallery-columns-1 .gallery-item {
    width:100%
}

.gallery-columns-2 .gallery-item {
    width:50%
}

.gallery-columns-3 .gallery-item {
    width:33.333%
}

.gallery-columns-4 .gallery-item {
    width:25%
}

.gallery-columns-5 .gallery-item {
    width:20%
}

.gallery-columns-6 .gallery-item {
    width:16.666%
}

.gallery-columns-7 .gallery-item {
    width:14.285%
}

.gallery-columns-8 .gallery-item {
    width:12.5%
}

.gallery-columns-9 .gallery-item {
    width:11.111%
}

.gallery-item a {
    display:block;
    text-align:center
}

.gallery-item a:hover {
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
    zoom:1;
    filter:alpha(opacity=65);
    opacity:.65
}

.wp-caption-text,.gallery-caption {
    font-size:.833em;
    margin:0;
    padding:5px
}

.gallery-caption {
    background:#F6F6F6
}

/* ===[ Disable captions when columns are too narrow ]=== */
.gallery-columns-5 .gallery-caption,.gallery-columns-6 .gallery-caption,.gallery-columns-7 .gallery-caption,.gallery-columns-8 .gallery-caption,.gallery-columns-9 .gallery-caption {
    display:none
}

/* ----------------------------------------
    WIDGETS
---------------------------------------- */
.widget {
    margin:0 0 20px;
    padding-top:20px
}

.widgettitle {
    border:none;
    color:#FFF;
    margin:0 0 20px;
    padding:0
}

.widget-sidebar .widgettitle a {
    color:#FFF;
    &:hover {
        color:#CCC
    }    
}

.widget ul {
    list-style-type:none;
    li {
        margin:6px 0 0;
        font-size:1.2em;
    }    
}

.widget .children,.widget .sub-menu {
    padding-left:20px
}

/* ----- CALENDAR ----- */
#wp-calendar {
    width:100%;
    caption {
        font-weight:700
    }    
}

/* ----- RECENT COMMNETS -----*/
.recentcomments a {
    display:block
}

/* ----- CONTACT ----- */
#content .raw_contact_holder {
    margin:20px 0 0
}

.raw_contact_holder span {
    display:block;
    margin-top:5px;
    min-height:24px;
    padding-left:30px
}

.contact_address {
    background:url(images/address_icon.png) 5px 2px no-repeat
}

.contact_phone {
    background:url(images/phone_icon.png) 5px 2px no-repeat
}

.contact_mobile {
    background:url(images/mobile_icon.png) 5px 2px no-repeat
}

.contact_fax {
    background:url(images/fax_icon.png) 5px 2px no-repeat
}

.contact_website {
    background:url(images/website_icon.png) 5px 2px no-repeat
}

.contact_email {
    background:url(images/email_icon.png) 5px 2px no-repeat
}

/* ----- RSS ----- */
.rsswidget,.rss-date,.rssSummary {
    display:block;
    margin-bottom:5px
}

.widget_rss cite {
    display:block;
    float:none;
    text-align:right
}

/* ----- SOCIAL ----- */
.social-button-holder {
    border-top:1px dotted #222;
    background:$sidebar-color;
    display:block;
    padding:15px 0 20px;
    overflow:hidden;
    text-align:center;
    width:182px;
    position:absolute;
    bottom:0;
    z-index:9;
    a {
        display:inline-block;
        height:24px;
        margin:5px 5px 0 0;
        overflow:hidden;
        text-indent:9999px;
        width:24px;
        &:hover {
            border:none
        }        
    }    
}

/* SOCIAL BUTTONS */
.facebook-button {
    background:url(images/social/facebook.png) no-repeat
}

.twitter-button {
    background:url(images/social/twitter.png) no-repeat
}

.google-button {
    background:url(images/social/google.png) no-repeat
}

.dribbble-button {
    background:url(images/social/dribbble.png) no-repeat
}

.linkedin-button {
    background:url(images/social/linkedin.png) no-repeat
}

.vimeo-button {
    background:url(images/social/vimeo.png) no-repeat
}

.youtube-button {
    background:url(images/social/youtube.png) no-repeat
}

/* ----- TWEET BOX ----- */
.widget .tweets {
    margin-bottom:15px;
}

/* IE7 Fix */
.ie7 .social-button-holder {
    padding:15px 0 20px
}

.ie7 .social-button-holder a {
    float:left
}

/* ----- SEARCH ----- */
.searchform {
    overflow:hidden;
    border:1px solid #222;
    fieldset {
        position:relative
    }    
}

#footer .searchform input[type="text"] {
    border:none;
    box-sizing:border-box;
    float:left;
    height:24px;
    line-height:24px;
    margin:0;
    padding:0 29px 0 5px;
    width:100%
}

#footer .searchform .searchsubmit {
    background:#44464A url(images/search-button.png) no-repeat;
    border-bottom:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    box-shadow:none;
    -webkit-box-shadow:none;
    display:block;
    font-size:0;
    height:24px;
    line-height:0;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
    text-indent:-999px;
    text-shadow:none;
    width:26px
}

#footer .searchform .searchsubmit:hover {
    background:#44464A url(images/search-button.png) no-repeat bottom left
}

/* ----- TWITTER ----- */
.raw_twitter {
    overflow:hidden;
    li {
        display:block;
        overflow:hidden
    }
    span {
        display:block;
        margin-bottom:5px
    }
    .timestamp {
        float:left;
        margin:0 0 10px
    }
    .twitter-link {
        display:block;
        float:right;
        text-align:right
    }
}