/* ----------------------------------------
    SHORTCODES
---------------------------------------- */
.clearboth {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
    width:100%
}

/* ----- BUTTONS ----- */
input[type=reset],input[type=button],button,input[type=submit],.sidebar input[type=submit],.page-content input[type=submit],a.funky-button {
    background:#F57A30 url(images/button-overlay.png) repeat-x;
    border:none;
    color:#FFF;
    cursor:pointer;
    display:inline-block;
    font-size:1em;
    font-weight:700;
    margin:20px 0 0;
    padding:10px;
    position:relative;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.25);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.25);
    box-shadow:0 0 3px rgba(0,0,0,0.25);
    text-shadow:0 -1px 1px rgba(0,0,0,0.35);
    border-bottom:1px solid rgba(0,0,0,0.25)
}

button[type=reset],input[type=reset] {
    background:#44464A url(images/button-overlay.png) repeat-x
}

input[type=button]:hover,button:hover,input[type=submit]:hover,.sidebar input[type=submit]:hover,.page-content input[type=submit]:hover,a.funky-button:hover {
    background:#F57A30;
    color:#FFF
}

button[type=reset]:hover,input[type=reset]:hover {
    background:#44464A;
    color:#FFF
}

.funky-button.left {
    float:left;
    margin:20px 0 0 5px
}

.funky-button.right {
    float:right;
    margin:20px 0 0 5px
}

p .funky-button,p input[type=submit],#respond input[type=submit] {
    margin-top:0
}

.page-content a.gp-button {
    font-family:"Oswald";
    text-transform:uppercase;
    color: #333;    
    font-size:13px;
    font-weight:400;
    padding: 5px 25px;
    border: 3px solid #333;
    position: relative; 
    display:table;
    margin:10px auto;
    &:hover {
        box-shadow: 3px 3px 0 #333;
        color:#333;
    }
}

/* Caption images */
.gp-caption-image-box {
    display:block;
    width:100%;
    height:250px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    overflow:hidden
}

.gp-caption-text {
    margin:0;
    padding:5px 10px;
    text-align:center
}