/* ----------------------------------------
    STRUCTURE
---------------------------------------- */
html {
    height:100%
}

body {
    background:#FFF;
    position:relative;
    -webkit-text-size-adjust:none;
    background-image: url($background-image);    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#wrapper {
    display:block;
    margin:0 auto;
    width:1036px;
    /*box-shadow:500px 0 0 0 #eee;*/
}

#sidebar {
    background:$sidebar-color;
    color:#555;
    float:left;
    font-size:1em;
    line-height:1.4em;
    padding:25px 20px 0;
    position:fixed;
    top:0;
    bottom:0;
    width:180px;
    z-index:2
}

#sidebar header {
    position:relative
}

#sidebar a {
    color:#737373
}

#sidebar a:hover{
    border-bottom:1px dotted #737373
}

a#logo {
    color:#FFF;
    display:block;
    font-size:2.5em;
    font-weight:700;
    letter-spacing:-2px;
    line-height:36px;
    width:180px
}

#sidebar a#logo:hover {
}

#logo img {
    max-width:180px
}

.mobile-logo {
    display:none
}

/* ----- ANIMATIONS ----- */
.wow {
    opacity:0;
}

/* ----- NAVIGATON ----- */
#main-navigation {
    line-height:1.4em;
    margin:0 0 0 -20px;
    position:relative;
    width:220px;
    z-index:2;
    height:100%;
}

#sidebar #main-navigation select {
    display:none;
    width:232px
}

#navigation li {
    position:relative
}

#navigation,#navigation a {
    display:block
}

#main-navigation ul {
    margin:20px 0 0;
}

#main-navigation a {
    color:#737373;
    padding:5px 20px;
    font-family:"Oswald";
    font-size:1.4em;
    text-transform:uppercase;
}

#main-navigation a:hover,
#main-navigation li.current_page_item a {
    background:#44464A;
    border:none;
    color:#FFF
}

#main-navigation .hover {
    background:#44464A
}

#main-navigation .hover > a {
    color:#939393
}

#main-navigation .hover > a:hover {
    color:#FFF
}

/* NAVIGATION SUBMENUS */
#main-navigation ul ul {
    background:#44464A;
    display:none;
    left:200px;
    margin:0;
    padding:10px;
    position:absolute;
    top:0;
    width:200px;
    z-index:99999
}

#main-navigation ul ul a {
    color:#939393;
    padding:4px 0
}

#main-navigation ul ul ul {
    top:-10px
}

#navigation li:hover ul ul,#navigation li:hover ul ul ul,#navigation li:hover ul ul ul ul {
    display:none
}

#navigation li:hover ul,#navigation li li:hover ul,#navigation li li li:hover ul,#navigation li li li li:hover ul {
    display:block
}

/* ----- FOOTER ----- */
#footer {
    background-color:$flat-sunflower;
    margin:0;
    padding:1px 20px 20px;    
    a {
        color:#fefefe;
        font-weight:bold;
        &:hover {
            border-bottom:1px dotted #fefefe
        }    
    }  
    .widget_recent_entries {
        font-size:1.1em;
        .post-date {
            color:#555;
            font-size:0.8em;
        }
    }
       
}

.widget-sidebar {
    margin:0 0 40px
}

.copyright {
    font-size:.833em;
    padding:15px 20px;
    color:#fff;
    background-color:darken($flat-sunflower, 10%);
    text-align:center;
}
.copyright a {
    color:#fff;
}

.copyright span {
    clear:both;
    display:block;
    margin-top:-5px;
}

/* ----- CONTENT ----- */
#content-wrapper {
    float:right;
    width:816px;
    position:relative;
    z-index:1;
    box-shadow:500px 0 0 0 #eee;
}

#content {
    background-color:#FFF;
    overflow:hidden;
    position:relative;
    /*box-shadow:0px 0px 6px 0px rgba(0,0,0,0.3);*/
}

.page-intro, #colorbox .page-intro {
    padding:38px 40px;
    h1 {
        color:#fff;
        line-height:50px;
    }
}
.page-intro {
    background-image:url($header-image);    
    background-position:center; 
    background-repeat:no-repeat;
}

.archive .page-intro,.tax-portfolio-category .page-intro,.page-template-page-portfolio-php .page-intro {
    margin-bottom:0
}

#slider {
    margin-top:40px;
    overflow:hidden
}

#content #slider:first-child,#content .wp-post-image:first-child {
    margin:0
}

.page-content {
    padding:20px 40px 40px;
    width:736px;
    min-height:350px;
    position:relative;
    overflow:hidden;
    @include transition(all, 0.5s, ease);
    &.with-social-buttons {
        padding-top:60px;
    }
}

.page-content:first-child {
    margin:20px 40px 0
}


/* ---------- SOCIAL BUTTONS ---------- */
#s-share-buttons {
    position:absolute;
    top:-100px;
    left:0;
    right:0;
    background:#fff;
    border-bottom:1px solid #dedede;
    padding:20px 40px;
    height:20px;
    @include transition(top, 0.5s, ease);
    &.active {
        top:0;
    }
}
.fb_iframe_widget {
    margin-right:5px;
}
#twitter-widget-0 {
    width:95px !important;
}
#___plusone_0 {
    width:62px !important;
}
.s-share-buttons-preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#fff;
}

/* ---------- PAGINATION ---------- */
.pagination {
    background-color:#0F1012;
    color:#555;
    float:right;
    font-size:1em;
    margin:40px 0 0;
    padding:12px 10px
}

.pagination span {
    padding:0 5px
}

.pagination a {
    color:#737373
}

.pagination a:hover {
    color:#44464A;
    text-decoration:none
}

/* ----- wp_link_pages() -- */
.page-content .pagination {
    background:none;
    float:none;
    margin:20px 0;
    padding:0;
    text-align:left;
    width:100%
}

.page-content .pagination span {
    padding:3px 5px;
    border:1px solid #EEE
}

.page-content .pagination ul {
    margin:0;
    overflow:hidden
}

.page-content .pagination ul li {
    background:0;
    margin:0;
    padding:0
}

/* Profile footer image */
#wrapper #gp-profile-footer {    
    border:8px solid #fff;
    width:150px;
    height:150px;
    display:block;
    @include border-radius(100%);
    @include background-size(cover);
    background-position:center;    
}

